/* define grid area */
.header{
    grid-area: header;
    border: 2px solid red;
}
.nav{
    grid-area: nav;
    border: 2px solid blue;
}
.main{
    grid-area: main;
    border: 2px solid rgb(30, 255, 0);
}
.aside{
    grid-area: aside;
    border: 2px solid rgb(251, 255, 0);
}
.ad{
    grid-area: ad;
    border: 2px solid rgb(255, 0, 242);
}
.footer{
    grid-area: footer;
    border: 2px solid rgb(255, 174, 0);
}

/* grid layout related styles */
.header ,.nav,.main,.aside,.ad,.footer{
    background-color: burlywood;
}
.grid-container{
    display: grid;
    gap:10px;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: 
    "header header header header"
    "nav  main main aside"
    "nav main  main ad"
    "footer footer footer footer"
    ;
}

@media screen and (max-width:576px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav" 
        "main"
        "aside"
        "ad"
        "footer"
        ;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .nav>ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 10px;

    }

    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "header header header"
        "nav nav nav" 
        "aside main main"
        "aside main main"
        "ad footer footer"
        ;
    }

}
@media only screen{
    
}